body{
    background-color: #ebe6d9;
}
h1, h2{
    text-align: center;
}
img{
    display: block;
    margin: auto;
    max-width: 100%;
}
iframe{
    display: block;
    margin: auto;
}
p{
    font-size: 20pt;
}
